{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}login{% endblock %}
{% block extra_head %}
    <link href="{% static 'assets/login/login.css' %}" rel="stylesheet">
    <!-- Evitar la caché de la página de inicio de sesión -->
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
{% endblock %}

{% block content %}
    <main class="form-signin text-center d-flex flex-column align-items-center">
        <div class="mb-4">
            <img src="{% static 'assets/img/logo_principal_sin_bg.png' %}" alt="logo" 
                style="height: 353px; width: 500px;">
        </div>
        <form method="post" class="w-100">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Ingreso</h1>
            {% bootstrap_form form layout="floating" %}
            {% bootstrap_button button_type="submit" content="Ingresar" %}
            <input type="hidden" name="next" value="{{ next }}">
            {% if form.errors %}
                <p>Su usuario y contraseña no coinciden. Por favor intente de nuevo.</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Su cuenta no tiene permisos suficientes para ver esta página. Para proceder,
                        por favor ingrese con una cuenta que tenga ese acceso.</p>
                {% else %}
                    <p>Por favor ingrese para ver esta página.</p>
                {% endif %}
            {% endif %}
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Olvidó su contraseña?</a></p>
    </main>
{% endblock %}
